h1{
    text-align: center;
}
.row{
    display: flex;
    margin: auto;
}
#board{
    text-align: center;
    margin: 10px;
}
#board div{
    width: 300px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
}
#board button{
    margin:20px;
}
#start-game-form{
    text-align: center;
}
#start-game-form input{
    display: block;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 5px;
    text-align: center;
}
.invisible{
    display: none;
}
.corner{
    border: none;
}
.top-side{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.left-side{
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.right-side{
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.bottom-side{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}
.center-sie{
    border: 1px solid black;
}